# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

process.env
forge.config.js
.env
notarize.cjs
notarize.js
entitlements.plist
node_modules
out
dist-ssr
dist-final
build-local.sh
notarize.js
build.yml.archive
test-notarize.js
verify-setup.sh
notarize.js
*.local
.firebase
.firebaserc
firebase.json
ios
capacitor.config.ts
icons
manifest.webmanifest
vite.svg

Companion Dashboard.code-workspace

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
