/* Box.css */
.box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 0;
    user-select: none;
    cursor: move;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    line-height: 1;
}


.moveable-line {
    background: #2dbcff !important;
}

.moveable-control {
    background: #2dbcff !important;
    border-radius: 5px !important;
}

.moveable-control.moveable-origin {
    display: none;
}

.header {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: content;
    padding: 10px;
    box-sizing: border-box;
}

.content-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: stretch;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    margin-top: -4px;
}

.content {
    flex: 1;
    min-width: 0;
    align-items: center;
    /*display: flex;
    flex-direction: row;
    justify-content: center;*/
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard */
}