.menu {
    width: 100%;
    height: 100px;
    background-color: #262626;
    position: fixed;
    left: 0;
    bottom: -85px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    transition: bottom .2s ease-in-out;
}

.url-section {
    display: flex;
    flex-direction: column;
}

.menu:hover {
    bottom: 0;
}

input[type="text"] {
    width: 200px;
}